.sidebar{
    margin: 0px;
    padding: 0px;
  }
  
  .maincontent{
    display: flex;
    margin: 0px;
  }
  
  .content{
    display: flex;
    flex-direction: column;
     width: 100%;
  }
  
  .maincontent{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  